.modal {
	display: block;
}

.modal.hide {
	display: none
}

.rooms-list {
	list-style: none;
	overflow: auto;
	height: 100px;
}


.rooms-list > li {
	padding: 3px;
	padding-left: 150px;
	cursor: pointer;
}

.rooms-list > .active {
	background-color: #FC0404;
	color: #ffffff;
}

#messageContent {
	border: 1px dashed #DADADA;
}

#messageContent ul{
	height: 300px;
	overflow: auto;
	border: 1px dashed #B8B1B1
}

#messageContent ul li {
	list-style: none;
}

.emojiPicker {
	height: 150px !important
}

.emojiPicker .emotion {
	height: 120px !important
}

