<section id="chat-section">
	<div class="col-md-8">
		<div class="" id="messages-holder">
			<div class="list-group">
				<div class="list-group-item">
					<h4 class="list-group-item-heading">Валик</h4>
					<p class="list-group-item-text">ФІВфівфів вф фів фівфівфів фів фів ФІВфівфів вф фів фівфівфів фів фів ФІВфівфів вф фів фівфівфів фів фів ФІВфівфів вф фів фівфівфів фів фів ФІВфівфів вф фів фівфівфів фів фів ФІВфівфів вф фів фівфівфів фів фів ФІВфівфів вф фів фівфівфів фів фів ФІВфі</p>
					<p class="text-right">20.02.2015 14:22:30</p>
				</div>	

				<div class="list-group-item">
					<h4 class="list-group-item-heading">Витя</h4>
					<p class="list-group-item-text">ФІВфівфів вф фів фівфівфів фів фів ФІВфівфів вф фів фівфівфів фів фів ФІВфівфів вф фів фівфівфів фів фів ФІВфівфів вф фів фівфівфів фів фів ФІВфівфів вф фів фівфівфів фів фів ФІВфівфів вф фів фівфівфів фів фів ФІВфівфів вф фів фівфівфів фів фів ФІВфі</p>
					<p class="text-right">20.02.2015 14:21:00</p>
				</div>

				<div class="list-group-item">
					<h4 class="list-group-item-heading">Петя</h4>
					<p class="list-group-item-text">ФІВфівфів вф фів фівфівфів фів фів ФІВфівфів вф фів фівфівфів фів фів ФІВфівфів вф фів фівфівфів фів фів ФІВфівфів вф фів фівфівфів фів фів ФІВфівфів вф фів фівфівфів фів фів ФІВфівфів вф фів фівфівфів фів фів ФІВфівфів вф фів фівфівфів фів фів ФІВфі</p>
					<p class="text-right">20.02.2015 14:20:20</p>
				</div>

				<div class="list-group-item">
					<h4 class="list-group-item-heading">Саня</h4>
					<p class="list-group-item-text">ФІВфівфів вф фів фівфівфів фів фів ФІВфівфів вф фів фівфівфів фів фів ФІВфівфів вф фів фівфівфів фів фів ФІВфівфів вф фів фівфівфів фів фів ФІВфівфів вф фів фівфівфів фів фів ФІВфівфів вф фів фівфівфів фів фів ФІВфівфів вф фів фівфівфів фів фів ФІВфі</p>
					<p class="text-right">20.02.2015 14:20:00</p>
				</div>

				<div class="list-group-item">
					<h4 class="list-group-item-heading">Петя</h4>
					<p class="list-group-item-text">ФІВфівфів вф фів фівфівфів фів фів ФІВфівфів вф фів фівфівфів фів фів ФІВфівфів вф фів фівфівфів фів фів ФІВфівфів вф фів фівфівфів фів фів ФІВфівфів вф фів фівфівфів фів фів ФІВфівфів вф фів фівфівфів фів фів ФІВфівфів вф фів фівфівфів фів фів ФІВфі</p>
					<p class="text-right">20.02.2015 14:20:20</p>
				</div>

				<div class="list-group-item">
					<h4 class="list-group-item-heading">Саня</h4>
					<p class="list-group-item-text">ФІВфівфів вф фів фівфівфів фів фів ФІВфівфів вф фів фівфівфів фів фів ФІВфівфів вф фів фівфівфів фів фів ФІВфівфів вф фів фівфівфів фів фів ФІВфівфів вф фів фівфівфів фів фів ФІВфівфів вф фів фівфівфів фів фів ФІВфівфів вф фів фівфівфів фів фів ФІВфі</p>
					<p class="text-right">20.02.2015 14:20:00</p>
				</div>
			</div>
		</div>
		<div class="panel">
			<form class="form-horizontal">
				<div class="form-group">
					<textarea class="form-control" cols="20" rows="7" maxlength="250" on-write-message></textarea>
					<span id="count-chars">
						{{ message.currentChars }}
					</span>
				</div>

				<div class="form-group">
					<button type="submit" class="btn btn-success">Відправити</button>
				</div>
			</form>
		</div>
	</div>

	<div class="col-md-4">
		<h3>Список учасників кімнати:</h3>
		<ul class="list-group">
			<li class="list-group-item">Валик</li>
			<li class="list-group-item">Витя</li>
			<li class="list-group-item">Петя</li>
			<li class="list-group-item">Саня</li>
		</ul>
	</div>
</section>
